html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #add8e6;
    /* force footer to the bottom */
    display: flex;
    flex-direction: column;
    margin: 0em;
}

main {
    flex: 1 0 auto;
    margin: 0em 1em;
    padding: 1em;
}

footer {
    color: white;
    text-align: center;
    background-color: #000000;
    /* force footer to the bottom */
    flex-shrink: 0;
    margin: 0em;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 5em;
    text-align: center;
}

.sub-title {
    font-weight: bold;
    text-align: center;
}

.button a:link, .button a:visited {
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button a:hover, .button a:active {
    background-color: #f2f2f2;
    color: black;
}

/******************/

/* Navigation bar */

/******************/

.topnav {
    /* Add a black background color to the top navigation */
    background-color: #000000;
    display: sticky;
    overflow: hidden;
}

.topnav p {
    /* Adds name in left corner */
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 0em 2em;
    font-size: 17px;
    font-weight: bold;
}

.topnav a {
    /* Style the links inside the navigation bar */
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    /* Change the color of links on hover */
    background-color: #dddddd;
    color: #000000;
}

.topnav a.active {
    /* Add an active class to highlight the current page */
    background-color: #ff0000;
    color: #ffffff;
}

.topnav .icon {
    /* Hide the link that should open and close the topnav on small screens */
    display: none;
}

@media screen and (max-width: 600px) {
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    /* Hides name in nav bar */
    .topnav.responsive p {
        display: none;
    }
}