/* https://coolors.co/c8963e-573d1c-b5852c-d1462f-94ecbe */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

::selection {
  padding: 0.2rem;
  color: #573d1c;
  background-color: #94ecbe;
}

.header {
  padding: 0.5rem;
  margin-left: 0.5rem;
  text-decoration-line: underline;
  text-decoration-color: #b5852c;
}

/* Containers */
#introduction {
  display: grid;
  width: 100%;
  height: 100vh;
}

.introductionText {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

#bio,
#contact,
#projects {
  margin: 15rem;
  padding-top: 1rem;
}

.projectContainer {
  margin: 5rem;
  overflow: auto;
}

.projectThumb {
  float: left;
  margin-right: 1rem;
  max-width: 50%;
}

.projectThumb img {
  display: block;
}

.projectTitle {
  text-decoration-line: underline;
  text-decoration-color: #b5852c;
}

/* HAN link */
.han a {
  color: inherit;
  text-decoration-color: #e50056;
}

.han a::selection,
.han a:hover {
  color: white;
  background-color: #e50056;
}

/* LINKS */
a {
  color: inherit;
  text-decoration-color: #d1462f;
}

a:hover,
a::selection {
  color: white;
  padding: 0.2rem;
  background-color: #d1462f;
}

/* Dark mode */
.dark {
  color: white;
  background-color: #181a1b;
}

.darkModeToggle {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.75rem;
  position: absolute;
  cursor: pointer;
}

/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
  .header {
    margin-left: 0rem;
  }

  .introductionText {
    font-size: 1rem;
  }

  #bio,
  #contact,
  #projects {
    margin: 5rem 1.5rem;
  }

  .projectContainer {
    margin: 0;
    overflow: auto;
  }

  .projectThumb {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .projectThumb img {
    display: block;
  }

  .projectTitle {
    text-decoration-line: underline;
    text-decoration-color: #b5852c;
  }
}

/* DESKTOP */
@media screen and (min-width: 480px) {
  .mobileBreak {
    display: none;
  }
}
