body {
  font-family: "Open Sans", sans-serif;
  margin: 2rem;
}

.introduction {
  text-align: center;
}

.emphasis {
  padding: 0.2rem;
  color: white;
  background-color: #d1462f;
}

::selection {
  padding: 0.2rem;
  color: #573d1c;
  background-color: #94ecbe;
}
