@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-xl;
  }

  p {
    @apply my-4;
  }

  a {
    @apply underline;
  }

  td {
    @apply p-3;
  }
}

html {
  scroll-behavior: smooth;
}

.dark {
  color: white;
  background-color: #181a1b;
}

a {
  color: inherit;
  text-decoration-color: #d1462f;
}

a:hover,
a::selection {
  color: white;
  padding: 0.2rem;
  background-color: #d1462f;
}

::selection {
  padding: 0.2rem;
  color: #573d1c;
  background-color: #94ecbe;
}

.header {
  text-decoration-color: #b5852c;
}

.dark svg {
  fill: white;
}

.dark svg {
  fill: white;
}

input,
textarea {
  width: 100%;
}
